:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif ; 
    --accent-color: #2196F3;
    --meny-color: #212121;
    --tel-link-color: #757575;
    --title-text-color: #FFFFFF;
    --background-color: #2F303A;
    --contact-color: rgba(255, 255, 255, 0.6);
    --background-button: #188CE8;
    --background-about: #F5F4FA;
    --background-section: #E5E5E5;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.body {
    font-family: var(--main-font);
}


.container {
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

.section {
padding-top: 94px;
padding-bottom: 94px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/* ========= HEADER ========== */



.header-container {
display: flex;
align-items: center;
}

.navigation {
display: flex;
align-items: center;
}

.menu-list {
display: flex;
align-items: center;
margin-left: auto;    
}


.logo {
margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.20;
letter-spacing: 0.03em;
color: var(--accent-color);
}

.menu-item not(:last-child) {
margin-right: 50px
height: 16px;
}

.studio {
    color: var(--meny-color);
}

.menu-link,
.mail-link,
.tel-link {
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
color: var(--meny-color);
padding-top: 32px;
padding-bottom: 32px;
}

.menu-link:hover,
.menu-link:focus {
color: var(--accent-color);
}

.menu-link.current {
color: var(--accent-color);
padding-width: 135px;
padding-height: 16px; 
}


.mail-link:hover,
.mail-link:focus {
color: var(--accent-color);
font-size: 14px;
line-height: 16px; 
}

.tel-link:hover,
.tel-link:focus {
color: var(--accent-color);
padding-width: 122px;
padding-height: 16px;
}

/* ========= END HEADER ========== */

/* ========= HERO ========== */


.hero {
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
}

.container-section {
max-width: 1600px;
margin: auto;
background: var(--background-color);
}


.hero-title {
font-family: var(--main-font);
width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.37;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--title-text-color);
margin: 0 auto;
margin-bottom: 30px;
}

.modal-btn {
border: none;
padding: 10px 32px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
cursor: pointer;
background: var(--accent-color);
text-align: center;
letter-spacing: 0.06em;
color: var(--title-text-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.button {
width: 200px;
height: 50px; 
margin-top: 430px;
margin-bottom: 200px;
margin-left: 700px;
margin-right: 700px;  
}

.modal-btn:hover,
.modal-btn:focus {
background: var(--background-button);
}

/* ========= END HERO ========== */

/* ========= FEATURES ========== */


.features {
padding-top: 94px;
padding-bottom: 94px;
}


.features-list {
display: flex;
margin-top: -30px;
margin-left: -30px;
}

.features-list-item {
width: 270px;
flex-basis: calc((100% - 4 * 30px) / 4);
margin-top: 30px;
margin-left: 30px;
}

.features-list-item:not(:last-child) {
/* margin-right: 30px; */
}


.features-title {
font-family: var(--main-font);
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--meny-color);
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
}

.description {
width: 270px;
}

.description,
.contact-adress-link,
.contact-link {
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.72;
letter-spacing: 0.03em;
color: var(--tel-link-color);
}

/* ========= END FEATURES ========== */

/* ========= BOX ========== */

.box {
background: var(--title-text-color);
padding-bottom: 94px;
}

.box-about-title {
font-family: var(--main-font);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--meny-color);
margin-bottom: 50px;
}

.box-list {
display: flex;
justify-content: space-between;
}

.box-list-item {
width: 370px;  
}


/* ========= END BOX ========== */

/* ========= ABOUT ========== */

.about {
background: var(--background-about);
}


.box-about-title {
text-align: center;
}


.about-list {
display: flex;
margin-top: -30px;
margin-left: -30px;
}

.about-list-item {
margin-top: 30px;
margin-left: 30px;
width: 270px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.about-description {
margin-bottom: 10px;
}


.about-description,
.about-description-item {
font-family: var(--main-font);
text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--meny-color);
}

.about-description-item {
font-weight: 400;
color: var(--tel-link-color);
}

.about-description-item-staff {
padding-top: 30px;
padding-bottom: 30px;
}

/* ========= END ABOUT ========== */

/* ========= CONTACT INFORMATION ========== */

.footer {
padding-top: 60px;
padding-bottom: 60px;
}

.container-contact {
left: 0px;
top: 2097px;
margin: avto;
background: var(--background-color);
padding-top: 60px;
}

.logo-footer {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.20;
letter-spacing: 0.03em;
color: var(--accent-color);
}

.studio-logo {
color: var(--title-text-color);
}

.footer-list {
margin-top: 20px;
}

.contact-adress-link {
font-family: var(--main-font);
color: var(--title-text-color);
}



.contact-link {
font-family: var(--main-font);
color: var(--contact-color);
margin-top: 9px;
}

/* ========= END CONTACT INFORMATION ========== */


/* ========= PORTFOLIO-NAVIGATION ========== */


/* ========= HEADER ========== */

.header {
border-bottom: 1px;
}

.logo {
margin-right: 93px;
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.20;
letter-spacing: 0.03em;
color: var(--accent-color);
}

.menu-item:not(:last-child) {
margin-right: 50px;
}

.studio {
    color: var(--meny-color);
}

.menu-link,
.mail-link,
.tel-link {
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
}

.menu-link {
color: var(--meny-color);   
}

.mail-link,
.tel-link {
 color: var(--tel-link-color);   
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.menu-link.current {
color: var(--accent-color);
}

.mail-link {
color: var(--tel-link-color);
margin-left: auto;
margin-right: 40px;
}

.mail-link:hover,
.mail-link:focus {
color: var(--accent-color); 
}

.tel-link:hover,
.tel-link:focus {
color: var(--accent-color);
}


/* ========= END HEADER ========== */

/* ========= FILTERS ========== */


.filters {
padding-top: 94px;
padding-bottom: 94px;
}


.section-filters {
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.filters-title {
font-family: var(--main-font);
height: 38px;
padding-left: 22px;
padding-top: 6px;
padding-right: 22px;
padding-bottom: 6px;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
cursor: pointer;
color: var(--meny-color);
border: none;
border-radius: 4px;
}



.modal-btn-portfolio {
padding-left: 22px;
padding-top: 6px;
padding-right: 22px;
padding-bottom: 6px;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
cursor: pointer;
background: var(--accent-color);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}


 .rectangle {
position: absolute;
background: var(--accent-color);
color: var(--title-text-color);
}

.filters-title:hover,
.filters-title:focus {
    color: var(--title-text-color);
    background-color: var(--accent-color);
}

/* ========= END FILTERS ========== */

/* ========= PROJECT ========== */

.project-description {
font-family: var(--main-font);
margin-top: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--meny-color);
}

.project-description-item {
font-family: var(--main-font);
margin-top: 4px;
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--tel-link-color);
}

.project-description-item-project {
background: var(--title-text-color);
padding-left: 24px;
padding-bottom: 20px;
box-sizing: border-box;
border: 1px solid #EEEEEE;
border-top: 0;
padding: 30px;
padding-right: 0;
}

.project-list {
margin-left: 215px;
display: flex;
flex-wrap: wrap;
margin-top: -30px;
margin-left: -30px;
}

.project-list-item {
flex-basis: calc((100% - 3 * 30px) / 3);
margin-top: 30px;
margin-left: 30px;
}

.filters-list-item:not(:last-child) {
margin-right: 8px;
}


/* ========= END PROJECT ========== */

/* ========= CONTACT INFORMATION PORTFOLIO ========== */




.container-portfolio {
background: var(--background-color);
}

.studio-logo {
color: var(--title-text-color);
}

.contact-adress-link {
color: var(--title-text-color);
}

.contact-link {
color: var(--contact-color);
}

/* ========= END CONTACT INFORMATION PORTFOLIO ========== */

/* ========= END PORTFOLIO-NAVIGATION ========== */